.enroll_section {
    background-color: #f2f2f2;
    text-align: center;
    height: 400px;
}

.enroll_info {
    text-align: center;
    width: 100%;
    height: 300px;
}

.enroll_icon {
    width: 150px;
    height: 150px;

}

.enroll_info h1 {
    font-size: 25px;
    margin-top: 5px;
}

.enroll_info h2 {
    font-size: 23px;
}

.enroll_info h1, h2 {
    font-family: 'Lato', sans-serif;
    padding-bottom: 10px;
}

.enroll_form {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user_email {
    width: 400px;
    border-top-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
    text-align: center;
    border: 1px solid black;
    border-right: 0;
}

.button {
    width: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0px;
    text-align: center;
    background-color: darkgrey;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    border: 1px solid black;
    border-left: 0;
}

.button:hover {
    opacity: 0.7;
}

.team_profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.team {
    background-color: white;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.team h1{
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.team_member {
    width: 350px;
    text-align: center;
}

.team_member_photo img {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    text-align: center;

}

.names {
    position: relative;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.4em;
}

.names::before {
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background-color: #000;
    transform: translate( -50%, 100%);
    transition: 300ms width;
}

.names:hover::before {
    width: 50%;

}

.team_member_description {
    width: 350px;
    word-wrap: break-word;
    text-align: center;
}

.footer {
    padding-top: 30px;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: black;
}

.footer-icon {
    width: 40px;
    height: 40px;
    padding: 4px;

}

.caption {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: white;
}