* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    width: 100vw;
    background-color: #f0f0f0;
    height: 2000px;
}
.container {
    width: 100vw;
}
.navigation {
    width: 100vw;
    height: 6rem;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
}
.navigation:hover {
    background-color: rgb(229, 11, 20);
}
.logo {
    height: 6rem;
    margin-right: 4rem;
    padding: 1rem 2rem;
    float: left;
}
.logo:hover {
    background-color: #fff;
    transition: 0.5s ease-in;
}
.navigation-items-list li {
    float: left;
    cursor: pointer;
}
.navigation-items-list li:hover {
    background-color: #fff;
    transition: 0.5s ease-in;
}
.navigation-item {
    display: block;
    padding: 2.16rem 2rem;
    color: #000;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: lighter;
}
.navigation-item:hover {
    color: #ff0000;
    transition: 0.5s ease-in;
}
.hamburger {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    outline: none;
    display: none;
    width: 8rem;
    padding: 1rem 3rem;
    height: 6rem;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
}
.hamburger:hover {
    color: #fff;
    transition: 0.5s ease-in;
}
.cross {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    outline: none;
    display: none;
    width: 8rem;
    padding: 1.3rem 3.2rem;
    height: 6rem;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
}
.cross:hover {
    color: #fff;
    transition: 0.5s ease-in;
}
.navigation-scroll {
    background-color: rgb(229, 11, 20);
}
.clearfix::after {
    display: block;
    content:'';
    clear: both;
}
.navigation-items-list.navigation-expanded {
    display: block;
}
.slider {
    width: 100vw;
    padding-bottom: 0.8%;
    background: #000;
}
.slider-photos {
    width: 75%;
    float: left;
}
.slide-photo {
    width: 100%;
}
.slider-miniatures {
    width: 25%;
    background: #000;
    float: left;
}
.slider-item {
    padding-top: 4%;
    margin: auto;
    width: 92%;
    cursor: pointer;
    position: relative;
}
.slider-image {
    width: 100%;
}
.slider-image-description {
    width: 100%;
    height: 50%;
    color: transparent;
    position: absolute;
    bottom: 0;
    background: transparent;
}
.slider-image-description p {
    padding: 2% 2%;
    font-size: 1.8vh;
    letter-spacing: 0.2vw;
}
.slider-item:hover .slider-image-description {
    display: block;
    color: white;
    background: rgba(0,0,0,1);
    transition: 1s ease-in;
    width: 100%;
}

@media (max-width: 960px) {
    .navigation-items-list {
        position: fixed;
        top: 6rem;
        width: 100vw;
        display: none;
    }
    .navigation-items-list li {
        background-color: #fff;
        float: none;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .hamburger {
        display: block;
    }
    .cross {
        display: none;
    }
    .navigation-item:hover {
         background-color: rgb(229, 11, 20);
    }
    .navigation-items-list li:hover a {
        color: #fff;
        transition: 0.5s ease-in;
    }
}
@media (max-width: 1200px) {
    .slider {
        padding-bottom: 0
    }
    .slider-photos {
        width: 100%;
        float: none;
    }
    .slider-miniatures {
        width: 100%;
        background: #000;
    }
    .slider-item {
        width: 27%;
        padding: 2% 0;
        margin: 0 3%;
        float: left;
    }
    .slider-image-description p {
        padding: 2% 2%;
        font-size: 1.8vh;
        letter-spacing: 0.2vw;
    }
}
@media (max-width: 576px) {
    .slider-image-description p {
        font-size: 1.2vh;
    }
}

/* FUNKCJONALNOŚĆ */

.section-container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

#details {
    color: whitesmoke;
    background-color: midnightblue;
    font-family:Lato, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

#details h1 {
    text-align: center;
    color:black;
    background-color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-family:Lato, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#details ul {
    margin: 30px 0;
    padding: 20px;
    width: 44%;
    display: inline-block;
    vertical-align: top;
}

#details ul li {
    min-height: 80px;
    padding-left: 10px;
    list-style: disc;
    text-align: justify;
}

/*FUNCTIONS*/

.functions {
    background-color: #ffffff;
    padding-bottom: 100px;
    padding-top: 100px;
}

h1{
    text-align: center;
    font-size: 40px;
}

.functions__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 60px;
}

.functions__feature {
    width: 25%;
}

.functions__icon {
    color: #FF0013;
    font-size: 50px;
    text-align: center;
}

.functions__feature h3 {
    font-size: 20px;
    color: #000000;
    padding-top: 20px;
    padding-right: 15px;
}

/*ENROLL SECTION*/

.enroll {
    background-color: #f2f2f2;
    text-align: center;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.enroll__info {
    text-align: center;
    width: 100%;
    height: 270px;
}

.enroll__icon {
    width: 150px;
    height: 150px;
}

.enroll__info h1 {
    font-size: 25px;
}

.enroll__info h2 {
    font-size: 23px;
}

.enroll__info h1, h2 {
    padding-bottom: 20px;
}

.enroll__form {
    height: 100px;
}

form {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:30px;
}

.enroll__email {
    width: 600px;
    height: 40px;
    border-radius: 30px 0 0 30px;
    text-align: center;
    border: 1px solid black;
    border-right: 0;
    font-size: 15px;
}

.enroll__button {
    width: 100px;
    height: 40px;
    border-radius: 0 30px 30px 0;
    text-align: center;
    background-color: darkgrey;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid black;
    border-left: 0;
    transition: 0.5s ease-in;
}

.enroll__button:hover {
    opacity: 0.7;
}

.enroll__security {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

/* TEAM */

.team {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.team__profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}

.team__member {
    width: 350px;
    text-align: center;
    position: relative;
}

.team__photo {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
}

.team__photo.magda {
    background-image: url('../img/Magda.png');
}
.team__photo.magda:hover {
    background-image: url('../img/Agata.png');
}

.team__photo.agata {
    background-image: url('../img/Agata.png');
}

.team__photo.agata:hover {
    background-image: url('../img/Magda.png');
}

.team__photo.kuba {
    background-image: url('../img/Kuba.png');
}

.team__photo.kuba:hover {
    background-image: url('../img/Agata.png');
}

.team__photo.piotrek {
    background-image: url('../img/Piotrek.png');
}

.team__photo.piotrek:hover {
    background-image: url('../img/Agata.png');
}

.team__photo:hover {
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
}

.team__name {
    position: relative;
    text-align: center;
    line-height: 1.4em;
    font-size: 20px;
    padding-top: 5px;
}

.team__name::before {
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background-color: #000;
    transform: translate( -50%, 100%);
    transition: 300ms width;
}

.team__name:hover::before {
    width: 50%;
}

.team__description {
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    height: 200px;
}

.team__social {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.fa-facebook-f, .fa-github {
    color: black;
    font-size: 20px;
    margin: 5px;
}

.fa-github:hover, .fa-facebook-f:hover {
    transition: 0.5s ease-in;
    color: red;
}

/* FOOTER */

.footer {
    padding-top: 30px;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #000000;
}

.footer__icon {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.footer__caption {
    font-size: 11px;
    color: white;
}