/* TEAM */

.team {
    background-color: #ffffff;
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 100vh;
}

.team__profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}

.team__member {
    width: 450px;
    text-align: center;
    /*position: relative;*/
    margin-top: 30px;
}

.team__photo {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.team__photo.magda {
    background-image: url('../img/magda_img.jpg');
}

.team__photo.agata {
    background-image: url('../img/Agata.png');
}

.team__photo.piotrek {
    background-image: url('../img/piotrek-photo.jpg');
}

@media (min-width: 786px) {
    .team__photo::before, .team__photo::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }

    .team__photo.magda::before {
        background-image: url('../img/Magda.png');
        z-index: 1;
        transition: opacity 0.9s;
        background-size: cover;
    }

    .team__photo.magda::after {
        background-image: url('../img/magda_img.jpg');
        background-size: cover;
        border-radius: 50%;
    }

    .team__member:hover .team__photo.magda::before {
        opacity: 0;
    }

    .team__photo.agata::before {
        background-image: url('../img/Agata.png');
        z-index: 1;
        transition: opacity 0.9s;
        background-size: cover;
    }

    .team__photo.agata::after {
        background-image: url('../img/Agata.jpg');
        background-size: cover;
        border-radius: 50%;
    }

    .team__member:hover .team__photo.agata::before {
        opacity: 0;
    }

    .team__photo.piotrek::before {
        background-image: url('../img/Piotrek.png');
        z-index: 1;
        transition: opacity 0.9s;
        background-size: cover;
    }

    .team__photo.piotrek::after {
        background-image: url('../img/piotrek-photo.jpg');
        background-size: cover;
        border-radius: 50%;
    }

    .team__member:hover .team__photo.piotrek::before {
        opacity: 0;
    }
}

.team__name {
    position: relative;
    text-align: center;
    line-height: 1.4em;
    font-size: 20px;
    padding-top: 5px;
}

@media (min-width: 768px) {
    .team__name::before {
        content: '';
        position: absolute;
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #000;
        -webkit-transform: translate( -50%, 100%);
        -ms-transform: translate( -50%, 100%);
        transform: translate( -50%, 100%);
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
    }
}

@media (min-width: 768px) {
    .team__member:hover .team__name::before {
        width: 60%;
    }
}

.team__description {
    border-top: 2px solid #000000;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    position: relative;
}

@media (min-width: 768px) {
    .team__description {
        border-top: none;
        height: 130px;
    }
}

.team__social {
    padding-top: 10px;
    left: 45%;
}

.fa-facebook-f, .fa-github {
    color: black;
    font-size: 20px;
    margin: 5px;
}

.fa-facebook-f:active, .fa-github:active {
    color: #ff0000;
}

@media (min-width: 768px) {
    .fa-facebook-f, .fa-github {
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}

@media (min-width: 768px) {
    .fa-github:hover, .fa-facebook-f:hover {
        color: red;
    }
}
