/* TEAM */

.team {
    box-sizing: border-box;
    background-color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 70%;
}

/*@media (min-width: 992px) {*/
    /*.team {*/
        /*min-height: 40vh;*/
    /*}*/

.team__profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}

.team__member {
    width: 450px;
    text-align: center;
    /*position: relative;*/
    margin-top: 30px;
}

.team__photo {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    transition:  0.9s linear;
}

.team__name {
    position: relative;
    text-align: center;
    line-height: 1.4em;
    font-size: 20px;
    padding-top: 5px;
}

@media (min-width: 768px) {
    .team__name::before {
        content: '';
        position: absolute;
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #000;
        -webkit-transform: translate( -50%, 100%);
        -ms-transform: translate( -50%, 100%);
        transform: translate( -50%, 100%);
        -webkit-transition: 350ms;
        -o-transition: 350ms;
        transition: 350ms;
    }
}

@media (min-width: 768px) {
    .team__name.width::before {
        width: 60%;
    }
}


.team__description {
    border-top: 2px solid #000000;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    position: relative;
}

@media (min-width: 768px) {
    .team__description {
        border-top: none;
        height: 130px;
    }
}

@media (min-width: 1200px) {
    .team__description {
        width: 90%;
    }
}

.team__social.agata, .team__social.magda, .team__social.piotrek {
    background-color: #ffffff;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    height: 130px;
    position: relative;
}

.team__social.agata, .team__social.magda {
    margin-top: -115px;
}

.team__social.piotrek {
    margin-top: -100px;
}

@media (min-width: 768px) {
    .team__social.piotrek {
        margin-top: -115px;
    }

    .team__social.magda {
        margin-top: -122px;
    }
}

@media (min-width: 1200px) {
    .team__social.magda {
        margin-top: -127px;
    }
}

.fa-facebook-f, .fa-github {
    display: inline-block;
    color: black;
    font-size: 60px;
    margin: 5px;
    padding: 8px;
    transform: translateY(50%);
}

.fa-facebook-f:active, .fa-github:active {
    color: #ff4918;
}

@media (min-width: 768px) {
    .fa-facebook-f, .fa-github {
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}

@media (min-width: 768px) {
    .fa-github:hover, .fa-facebook-f:hover {
        color: #ff4918;
    }
}
