* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container {
    width: 100vw;
}
.navigation {
    width: 100vw;
    height: 6rem;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    transition: 300ms;
}
.navigation:hover {
    background-color: rgb(229, 11, 20);
}
.logo {
    height: 6rem;
    margin-right: 4rem;
    padding: 1rem 2rem;
    float: left;
}
.logo:hover {
    background-color: #fff;
    transition: 0.5s ease-in;
}
.navigation-list__item {
    display: block;
    padding: 2.16rem 2rem;
    color: #000;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: lighter;
    float: left;
    cursor: pointer;
}
.navigation-list__item:hover {
    color: #ff0000;
    background-color: #fff;
    transition: 0.5s ease-in;
}
.hamburger {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    outline: none;
    display: none;
    width: 8rem;
    padding: 1rem 3rem;
    height: 6rem;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
}
.hamburger:hover {
    color: #fff;
    transition: 0.5s ease-in;
}
.cross {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    outline: none;
    display: none;
    width: 8rem;
    padding: 1.3rem 3.2rem;
    height: 6rem;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
}
.cross:hover {
    color: #fff;
    transition: 0.5s ease-in;
}
.navigation-scroll {
    background-color: rgb(229, 11, 20);
}
.clearfix::after {
    display: block;
    content:'';
    clear: both;
}
.navigation-list.navigation-expanded {
    display: block;
}
.slider {
    width: 100vw;
    position: relative;
}
.slide-photo {
    width: 100%;
}
.slide-header {
    position: absolute;
    right: 0;
    top: 10%;
    transform: translate(-50% -50%);
    background: rgba(0,0,0,1);
    width: 30%;
    height: 12%;
    color: #fff;
    text-align: center;
    padding: 2%;
    display: none;
}
.slide-header h1 {
    font-size: 2vh;
}
.slide-header p {
    font-size: 1.8vh;
}
.slider-miniatures {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}
.slider-item {
    padding: 1%;
    width: 20%;
    margin-left: 10%;
    cursor: pointer;
    position: relative;
    float: left;
}
.slider-image {
    width: 100%;
    opacity: 0.5;
}
.slider-image-description {
    width: 90%;
    height: 50%;
    color: transparent;
    position: absolute;
    bottom: 9%;
    background: transparent;
}
.slider-image-description p {
    padding: 10% 2%;
    font-size: 2vh;
    letter-spacing: 0.2vw;
    text-align: center;
}
.slider-item:hover .slider-image-description {
    display: block;
    color: white;
    background: rgba(0,0,0,0.5);
    transition: 1s ease-in;
}
.slider-item:hover img {
    opacity: 1;
}

@media (max-width: 480px) {
    .slider-image-description p {
        display: none;
    }
    .slider-image-description {
        height: 90%;
    }
}
@media (max-width: 576px) {
    .hidden {
        visibility: hidden;
    }
    .slider-image-description p {
        font-size: 1vh;
    }
}

@media (max-width: 600px)  {
    .slide-header h1 {
        font-size: 1.4vh;
    }
    .slide-header p {
        font-size: 1.2vh;
    }
}

@media (max-width: 960px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .hamburger {
        display: block;
    }
    .cross {
        display: none;
    }
    .navigation-list {
        position: fixed;
        top: 6rem;
        width: 100vw;
        display: none;
    }
    .navigation-list__item {
        background-color: #fff;
        float: none;
    }
    .navigation-list__item:hover {
        background-color: rgb(229, 11, 20);
        color: #fff;
        transition: 0.5s ease-in;
    }
    .slider {
        background: #000;
    }
    .slider-miniatures {
        position: static;
    }
    .slider-item {
        width: 27%;
        padding: 2% 0;
        margin: 0 3%;
    }
    .slide-header {
        top: 16%;
        padding: 2.5%;
    }
    .slider-image {
        opacity: 1;
    }
    .slider-image-description {
        width: 100%;
        bottom: 11%;
    }
    .slider-image-description p {
        padding-top: 10%;
        font-size: 1.6vh;
    }
    .slider-item:hover .slider-image-description {
        background: #000;
    }
}
@media (min-width: 960px) and (max-width: 1280px) {
    .slider-image-description p {
        padding-top: 6%;
        font-size: 1.6vh;
    }
}

/* FUNKCJONALNOŚĆ */

.section-container {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

#details {
    color: whitesmoke;
    background-color: midnightblue;
    font-family:Lato, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

#details h1 {
    text-align: center;
    color:black;
    background-color: red;
    font-weight: bold;
    text-transform: uppercase;
    font-family:Lato, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#details ul {
    margin: 30px 0;
    padding: 20px;
    width: 44%;
    display: inline-block;
    vertical-align: top;
}

#details ul li {
    min-height: 80px;
    padding-left: 10px;
    list-style: disc;
    text-align: justify;
}

/*FUNCTIONS*/

.functions {
    background-color: #ffffff;
    padding-top: 150px;
    padding-bottom: 100px;
}

h1{
    text-align: center;
    font-size: 40px;
}

.functions__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    .functions__container {
        padding-top: 100px;
    }
}

.functions__feature {
    width: 100%;
    padding-bottom: 100px;
    transform: translateY(50%);
}

@media (min-width: 768px) {
    .functions__feature {
        width: 25%;
    }
}

.functions__icon {
    color: #FF0013;
    font-size: 70px;
    text-align: center;
}

.functions__feature h3 {
    font-size: 20px;
    color: #000000;
    padding-top: 20px;
    padding-right: 15px;
}

/*ENROLL SECTION*/

.enroll {
    background-color: #f2f2f2;
    text-align: center;
    height: 700px;
    padding-top: 100px;
}

.enroll__info {
    text-align: center;
    width: 100%;
    height: 270px;
}

.enroll__icon {
    width: 150px;
    height: 150px;
}

.enroll__info h1 {
    font-size: 38px;
}

.enroll__info h2 {
    font-size: 30px;
}

.enroll__info h1, h2 {
    padding-bottom: 20px;
}

.enroll__form {
    height: 100px;
}

form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 60px;
}

.enroll__email {
    width: 45%;
    height: 40px;
    border-radius: 30px 0 0 30px;
    text-align: center;
    border: 1px solid #000000;
    border-right: 0;
    font-size: 13px;
}

@media (min-width: 768px) {
    .enroll__email {
        width: 35%;
    }
}

.enroll__button {
    width: 100px;
    height: 40px;
    -webkit-appearance: none;
    border-radius: 0 30px 30px 0;
    text-align: center;
    background-color: #a9a9a9;
    color: #000000;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid #000000;
    border-left: 0;
    cursor: pointer;
}

.enroll__button:active {
    background-color: #000000;
    color: #ffffff;
}

@media (min-width: 768px){
    .enroll__button {
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}

@media (min-width: 768px) {
    .enroll__button:hover {
        opacity: 0.7;
    }
}

.enroll__security {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.enroll__security p {
    font-size: 13px;
}

/* TEAM */

.team {
    background-color: #ffffff;
    padding-top: 150px;
    margin-bottom: 100px;
    height: 700px;
}

.team__profiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}

.team__member {
    width: 450px;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.team__photo {
    border-radius: 150px;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.team__photo.magda {
    background-image: url('../img/Magda.png');
}

.team__photo.agata {
    background-image: url('../img/Agata.png');
}

.team__photo.piotrek {
    background-image: url('../img/Piotrek.png');
}

@media (min-width: 786px) {
    .team__photo::before, .team__photo::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }

    .team__photo.magda::before {
        background-image: url('../img/Magda.png');
        z-index: 1;
        transition: opacity 0.9s;
        background-size: cover;
    }

    .team__photo.magda::after {
        background-image: url('../img/Agata.png');
        background-size: cover;
    }

    .team__member:hover .team__photo.magda::before {
        opacity: 0;
    }

    .team__photo.agata::before {
        background-image: url('../img/Agata.png');
        z-index: 1;
        transition: opacity 0.9s;
        background-size: cover;
    }

    .team__photo.agata::after {
        background-image: url('../img/Magda.png');
        background-size: cover;
    }

    .team__member:hover .team__photo.agata::before {
        opacity: 0;
    }

    .team__photo.piotrek::before {
        background-image: url('../img/Piotrek.png');
        z-index: 1;
        transition: opacity 0.9s;
        background-size: cover;
    }

    .team__photo.piotrek::after {
        background-image: url('../img/piotrek-photo.jpg');
        background-size: cover;
        border-radius: 50%;
    }

    .team__member:hover .team__photo.piotrek::before {
        opacity: 0;
    }
}

.team__name {
    position: relative;
    text-align: center;
    line-height: 1.4em;
    font-size: 20px;
    padding-top: 5px;
}

@media (min-width: 768px) {
    .team__name::before {
        content: '';
        position: absolute;
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background-color: #000;
        -webkit-transform: translate( -50%, 100%);
        -ms-transform: translate( -50%, 100%);
        transform: translate( -50%, 100%);
        -webkit-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
    }
}

@media (min-width: 768px) {
    .team__member:hover .team__name::before {
        width: 60%;
    }
}

.team__description {
    border-top: 2px solid #000000;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    height: 190px;
}

@media (min-width: 768px) {
    .team__description {
        border-top: none;
    }
}

.team__social {
    position: absolute;
    bottom: 0;
    left: 45%;
}


.fa-facebook-f, .fa-github {
    color: black;
    font-size: 20px;
    margin: 5px;
}

.fa-facebook-f:active, .fa-github:active {
    color: #ff0000;
}

@media (min-width: 768px) {
    .fa-facebook-f, .fa-github {
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}

@media (min-width: 768px) {
    .fa-github:hover, .fa-facebook-f:hover {
        color: red;
    }
}

/* FOOTER */

.footer {
    padding-top: 30px;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #000000;
}

.footer__icon {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.footer__caption {
    font-size: 11px;
    color: white;
}