* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    text-align: center;
}
#app {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    flex-basis: 14%;
    height: 30vh;
    /*width: 180px;*/
    /*height: 220px;*/
    margin: 5px;
    border: 1px solid black;
}
.hulk {
    background: url("../img/hulk.png") no-repeat;
    background-size: 100% auto;

}
.spiderman {
    background: url("../img/spiderman.png") no-repeat;
    background-size: 100% auto;

}
.thor {
    background: url("../img/thor.png") no-repeat;
    background-size: 100% auto;

}
.punisher {
    background: url("../img/punisher.png") no-repeat;
    background-size: 100% auto;

}
.flash {
    background: url("../img/flash.png") no-repeat;
    background-size: 100% auto;

}
.deadpool {
    background: url("../img/deadpool.png") no-repeat;
    background-size: 100% auto;

}
.ironman {
    background: url("../img/ironman.png") no-repeat;
    background-size: 100% auto;

}
.captainamerica {
    background: url("../img/captainamerica.png") no-repeat;
    background-size: 100% auto;

}
.wolverine {
    background: url("../img/wolverine.png") no-repeat;
    background-size: 100% auto;

}
.cardObverse {
    background: url("../img/card_obverse.png") no-repeat;
    background-size: 100% auto;
}
#play-pause-button {
    position: absolute;
    bottom: 10px;
    margin: auto;
    width: 10%;
    height: 25px;
    border: 2px solid #000;
    text-transform: uppercase;
}
#play-pause-button:hover {
    background: #ff0000;
    color: #fff;
    border: none;
    transition: 0.5s ease-in;
}
@media (orientation: portrait) {
    .cardObverse {
        flex-basis: 30%;
    }
}
