* {
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
}

#board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 520px;
    width: 550px;
    margin: 100px auto;

}

.board-element {
    height: 125px;
    width: 125px;
}

.grey {
    background-color: #a9a9a9;
}

.red {
    background-color: #ff0000;
}

.blue {
    background-color: #0000ff;
}

.yellow {
    background-color: #ffff00;
}

.pink {
    background-color: #ff69b4;
}

.green {
    background-color: #228b22;
}

.violet {
    background-color: #9400d3;
}

.orange {
    background-color: #ffa500;
}

.hidden {
    background-color: #000000;
}

.pair {
    opacity: 0.5;
}